<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="loginPage">

    <h1>Login Form</h1>

    <div class="container">

        <label name="username text-center">Username: </label>
        <input type="text" id="username" name="username"/>

        <label name="password text-center">Password: </label>
        <input type="password" id="password" name="password"/>

        <button onclick="submit">Submit</button>

    </div>
</div>
</body>
</html>